# .flake8
[flake8]
max-line-length = 100  # Adjust line length if desired
ignore = E203, E266, E501, W503  # Example of ignoring specific errors
exclude = .git, __pycache__, old, build, dist  # Exclude certain folders