# rename to .env
CARWASH_IMAGE=ghcr.io/nielsdon/carwash-touchscreen:develop
GHCR_PAT=my_access_token
SLACK_HOOK_URL=https://hooks.slack.com/services/random
CLIENT_ID=touchscreen_test
CLIENT_SECRET=123456abhcdef
TEST_MODE=1
GA4_API=password
GA4_MEASUREMENT_ID_DEV=G-XXXXXXXXX
GA4_MEASUREMENT_ID_PROD=G-XXXXXXXXX