certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.3
docutils==0.21.2
ga4mp==2.0.4
idna==3.7
iniconfig==2.0.0
Kivy==2.3.0
Kivy-Garden==0.1.5
munch==4.0.0
netifaces==0.11.0
packaging==24.1
pigpio==1.78
pluggy==1.5.0
pyarmor==8.5.10
pyarmor.cli.core==6.5.3
pycparser==2.22
Pygments==2.18.0
pytest==8.3.3
requests==2.32.3
urllib3==2.2.1
