certifi==2024.07.04
charset-normalizer==3.3.2
colorzero==2.0
distlib==0.3.8
docutils==0.21.2
evdev==1.7.1
ffpyplayer==4.5.1
filelock==3.14.0
ga4mp==2.0.4
gpiozero==2.0.1
idna==3.7
keyboard==0.13.5
Kivy==2.3.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
libusb1==3.1.0
marshmallow==3.21.2
munch==4.0.0
ndeflib==0.3.3
netifaces==0.10.8
packaging==24.0
pigpio==1.78
pillow==10.3.0
platformdirs==4.2.2
pyDes==2.0.1
Pygments==2.18.0
pyserial==3.5
pytest==8.3.3
pyudev==0.24.3
pyusb==1.2.1
requests==2.32.3
RPi.GPIO==0.7.1
urllib3==2.2.2
virtualenv==20.26.2
